.titulo2{
    padding: 2rem;
}

.textos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texte_grande, .texte_vermelho{
    font-size: 300px;
    color: var(--red1);
    font-weight: bold;
}

.texte_vermelho{
    font-size: 1.5rem;
}