.header {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    height: auto;
    cursor: pointer;
}

.header a:hover {
    color: var(--yellow);
}

.logo {
    cursor: pointer;
    height: 5.5rem;
}

.buscar1 {
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    color: var(--white);
}

.icon {
    padding: 0.3rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.icon:hover {
    color: var(--yellow);
}

.buttonsHome {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.buttonsHome .entrar,
.buttonsHome .registar {
    color: var(--gray2);
    width: 160px;
    height: 40px;
    font-size: 1rem; /* Tamanho da fonte reduzido */
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--yellow);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: .15rem;
}

.buttonsHome .entrar:hover {
    background-color: var(--green);
    color: rgb(57, 57, 58);
}

.buttonsHome .registar:hover {
    background-color: #CD373A;
    color: aliceblue;
}
