.termsOfUse {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: auto;
    text-align: center;
    background-color: var(--gray1);
    padding: 20px;
}

.termsOfUse h1, .termsOfUse h2 {
    color: var(--gray2);
}

.termsOfUse p {
    margin: 10px 200px;
}

.termsOfUse ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: inline-block;
    margin: 0 auto; /* Centraliza a lista */
    width: fit-content; /* Ajusta a largura ao conteúdo */
}
